<h1>My Account</h1>
<div class="accountpage">
<h2>{{theUser.username}}</h2>
<form>
<div class="eventrow">
<label>First name:</label>
<div>  {{theUser.firstName}}</div>

<label>Last name:</label>
<div>  {{theUser.lastName}}</div>
</div>
<div class="eventrow">
<label>email</label>
<div>  {{theUser.email}}</div>
</div>
<div class="eventrow">
<label>Phone</label>
<div>  {{theUser.phone}}</div>
</div>
<div class="eventrow">
<label>Business Name:</label>
<div>  {{theUser.businessName}}</div>
</div>
<div class="eventrow">
<label>Business description:</label>
<div>  {{theUser.businessDescription}}</div>
</div>
<div class="eventrow">
<label>Website url:</label>
<div>  {{theUser.websiteURL}}</div>
</div>
</form>
</div>

<a href="/account/edit">Edit Your Account</a>
<br>

<a href="/account/areyousure">Delete Your Account</a>