{{#if theUser.isBusiness}}
<h2>These are your customers:</h2>
{{#each listOfRelationships}}
   <h3>{{this.customerName}}</h3> 
    <h3>{{this.customer.firstName}} {{this.customer.lastName}}</h3> 
    <h3>{{this.customer.email}}</h3> 
    <h3>{{this.customer.phone}}</h3> 
    {{this}}
    {{#unless approvedByBusiness}}
    <form action="/business/approve" method="post">
        <input type='hidden' name='relationshipId' value={{this._id}}>
        <button type="submit" name="approval" value="true">Approve connection to customer?</button>
    </form>
    {{/unless}}
    <hr>

{{/each}}
{{/if}}
{{#unless theUser.isBusiness}}
<h2>These are the businesses you have connected with:</h2>
<ul>
{{#each listOfRelationships}}
   <h3>{{this.businessName}}</h3> 
    <h3>{{this.business.firstName}} {{this.business.lastName}}</h3> 
    <h3>{{this.business.email}}</h3> 
    <h3>{{this.business.phone}}</h3>    
    <hr>
{{/each}}
<a href="/businesslist">Connect to some businesses</a>
{{/unless}}
</ul>


{{!-- list of connections{{listOfRelationships}} --}}
