 {{!-- this should be in a each pointing at a meet --}}
<div class="card partial" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.business.firstName}} {{this.business.lastName}}</h5>
    <p class="card-text">{{this.business.businessName}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Phone: {{this.business.phone}}</li>
    <li class="list-group-item">Email: {{this.business.email}}</li>
    <li class="list-group-item"><a href="http://{{this.business.websiteURL}}">Website{{this.business.websiteURL}}</a></li>
  </ul>
</div>