<div class="card partial" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
        <h5 class="card-title">{{this.businessName}}</h5>
    <p class="card-text">{{this.businessName}}</p>
  </div>
  <ul class="list-group list-group-flush">
        <li class="list-group-item">Phone: {{this.phone}}</li>
        <li class="list-group-item"><a href="http://{{this.websiteURL}}">Email:{{this.websiteURL}}</a></li>
  </ul>
</div>
