
<h2></h2>


<form action="/meets/create" method="post">
{{!-- may want to add a start and end date but then
would need multiple times for each created date and
that would be more complicated right now, probably
would need a button to generate dates and then a foreach
loop in the page to generate buttons to fill in each time --}}
<label for="meetName">Name your session:</label>
<input type="hidden" value={{theUser._id}} name="business">
<input type="text" name="meetName" id="meetName">
<label>Date</label>
<input type="datetime-local" name="dateTime">
<br>
<label>Duration in minutes</label>
<input type="number" name="durationInMinutes">minutes
<br>
<label>location</label>
<input type="text" name="location">
<br>
{{!-- **********not working right*************
<fieldset>
<legend>Choose confirmed customers:</legend>
    {{#each allRelationships}}
<label for={{this.customer._id}}>{{this.customer.firstName}} {{this.customer.lastName}}</label>
<input type="checkbox" name="customer" id={{this.customer._id}} value="{{this.customer._id}}">
    {{/each}}  
</fieldset> --}}
<br>
<button>Submit</button>
<br>

</form>

{{allRelationships}}
