{{#if alreadyExists}}
Current Connections
{{alreadyExists}}
{{#each alreadyExists}}
{{this.business.username}}
<hr>
{{/each}}
{{/if}}
Connect to Businesses
<div class="busBoxes">
{{#each listOfBusinesses}}
    {{#if this.isBusiness}}
<div class="busBox">
    {{>businessPartial}}
<div class="busD">{{this.businessDescription}}</div>
    <p>{{this.businessDescription}}</p>
<form action="/business/createconnect" method="post">
<button name="business" value={{this._id}} type="submit">Connect</button>
</div>
    {{/if}}
    <hr>
    </div>
{{/each}}
